/* image.css */

.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
    max-width: 600px; /* Limit the width for better readability on larger screens */
}

.header {
    font-size: 2em; /* Responsive font size */
    font-weight: bold; /* Use "bold" instead of the numeric value */
    padding-bottom: 20px; /* Slightly reduce the padding */
    text-align: center; /* Center align the text */
    color: #333; /* Use a dark color for better readability */
}

.header span {
    margin-left: 10px; /* Add left margin for space between "AI image" and "Generator" */
}

.img-loading {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-loading img {
    width: 100%; /* Ensure the image fills its container */
    border-radius: 8px; /* Add a subtle border-radius for rounded corners */
    box-shadow: 0 2px 4px rgba(212, 212, 212, 0.1); /* Add a subtle box-shadow for depth */
}

.search-box {
    display: flex;
    width: 80%; /* Adjust width for responsiveness */
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px; /* Adjust border-radius for a rounded look */
    background-color: #f2f2f2; /* Use a neutral background color */
    padding: 0 20px; /* Add padding for spacing */
    margin-top: 30px; /* Add top margin for spacing */
}

.search-input {
    flex: 1; /* Allow the input to grow and fill available space */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333; /* Use a dark color for text */
    padding-left: 15px; /* Adjust padding for spacing */
}

.generate-btn {
    padding: 12px 24px;
    background-color: #5386bc;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    text-align: center; /* Center the text within the button */
    text-decoration: none;
    display: inline-block;
    user-select: none;
    margin-left: 20px; /* Add left margin for spacing */
}

.generate-btn:hover {
    background-color: #212224; /* Darken the background color on hover */
}

/* Add any additional styling as needed */

